.foodie{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.foodie_name{
  font-weight: 300;
  font-size: 1.8rem;
}
.foodie_stats{
font-size: 1.3rem;
font-style: italic;
font-weight: 300;
}

.foodie_actions{
flex-shrink: 0;
}
